<beans:beans xmlns="http://www.springframework.org/schema/security"

	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-3.2.xsd">
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/administrador/**" access="hasRole('ADM')"/>
		<access-denied-handler error-page="/negado.xhtml" />
		<form-login login-page="/login.xhtml" authentication-failure-url="/login.xhtml?error=true" />
		<!-- 
		<intercept-url pattern="/tecnico/**" access="hasAnyRole('ADM','TEC')"/>
		 -->
	</http> 
	<authentication-manager>
		<authentication-provider>
			<!--  
			<user-service>
				<user name="jose" authorities="ADM" password="admin"/>
			</user-service>
			-->
			<jdbc-user-service data-source-ref="dataSource" 
				users-by-username-query="SELECT NOME AS USERNAME, SENHA AS PASSWORD, STATUS AS ENABLE FROM USUARIO WHERE NOME=?"
				authorities-by-username-query="SELECT U.NOME AS USERNAME, PRI.NOME AS AUTHORITY FROM USUARIO U, PRIVILEGIO PRI, PERMISSAO PER WHERE U.ID = PER.USUARIO_ID AND PRI.ID = PER.PRIVILEGIO_ID AND U.NOME=?"
			 />
		</authentication-provider>
	</authentication-manager>
	
	<beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
		<beans:property name="url" value="jdbc:postgresql://localhost:5432/bancoAula" />
		<beans:property name="driverClassName" value="org.postgresql.Driver" />
		<beans:property name="username" value="postgres" />
		<beans:property name="password" value="postgres" />
	</beans:bean>
</beans:beans>

